<module>
	<rawname>agentadministration</rawname>
	<name>Agent Administration</name>
	<version>1.0</version>
	<description>
			This module allows for adding and modifying new agents to the freePBX system. This would include the agent ID,
			full name and password. This rewrites the agents.conf file.
	</description>
	<type>setup</type>
	<category>Inbound Call Control</category>
	<menuitems>
		<agentadministration>Agent Administration</agentadministration>
	</menuitems>
	<location>release/agentadministration-1.0.tgz</location>
    <info>http://aussievoip.com.au/wiki/freePBX-agentadministration</info>
		<md5sum>a48ec7d00e096c0f1f5cdb5995b0baaf</md5sum>
   	<changelog>
		*1.0* First release
	</changelog>
</module>	
		



